@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    height: 6vh;
    box-sizing: border-box;
    background-color: #6E5E49;
    color: white;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #2D2620;
    color:white;
}

footer{
    height:6vh;
    box-sizing: border-box;
    background-color: #6E5E49;
    color: white;
}

.index{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
}

.index_conteudo{
    margin: 2% 3%;
    width:296px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.index_titulo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.index_subtitulo{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

.index_botoes{
    background-color: #D9D9D9;
    width: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index_botao_2{
    margin: 25px;
    display: table-column;
    justify-content: center;
    gap: 25px;
    
    background-color: #6E5E49;
    width: 490px;
    height: 310px;
    border-radius: 8px;
    
    font-size: 22px;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.index_botao{
    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #6E5E49;
    width: 350px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 600;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.index_botao_2:hover{
    background-color: #2D2620;
    transform: scale(1.04);
}
.index_botao:hover{
    background-color: #2D2620;
    transform: scale(1.04);
}